@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}  
/* This targets devices with a screen width of 768px or less (Mobile & Tablets) */
@media screen and (max-width: 768px) {
    .terminal-dashboard {
        display: none !important;
    }
}